@{
    ViewBag.Title = "DocumentEditor";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model tortuga.MongoData.Entities.Model.DocumentSchema

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading sm">
                <h2>Document Builder </h2>
            </header>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Document Name</label>
                        <input type="text" class="form-control" placeholder="Document Name" id="txtDocumentName">
                    </div>

                    <div id="navcontainer">
                        <ul class="root">
                            <li>
                                <div class="document-item">
                                    @Model.Name 
                                </div>
                                <div class="listPanel"></div>
                            </li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-primary">Add a Field</button>

                </form>
            </div>

            <footer class="panel-footer">
                <button type="button" class="btn btn-theme" id="btn-save">Save Document</button>
                <button type="reset" class="btn">Cancel</button>
            </footer>
        </section>
    </div>
</div>
@section Scripts {
    <script language="javascript">
    var documentSchema = @Html.Raw(Json.Encode(Model));

        $(document).ready(function(){
            $.ajax({
                url: '@Url.Action("ListFields", "Document")',
                data: JSON.stringify(documentSchema),
                contentType: 'application/json',
                type: 'POST',
                dataType: 'HTML'
            }).success(function(result){
                $(".listPanel").html(result);
            });

            $("body").on("click", ".document-item a", function (e) {
                e.preventDefault();
                var fieldGuid = $(this).data("document-guid");
                
                $.each(documentSchema.Fields, function(index, item){
                    if (item.FieldGuid ==  fieldGuid){
                        $("#txtFieldName").val(item.Name);
                    }
                });                

                $("#md-normal").modal('show');
            });

        });

    </script>
    
}