@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Document</h2>

<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading sm">
                <h2><strong>Panel</strong> small-heading </h2>
            </header>
            <div class="panel-body">
                <p>Panel-body</p>
            </div>
        </section>
    </div>
</div>