<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="lightSpeedContexts" type="Mindscape.LightSpeed.Configuration.LightSpeedConfigurationSection, Mindscape.LightSpeed"/>
  </configSections>

  <connectionStrings>
    <add name="tortuga" connectionString="Data Source=.;Initial Catalog=tortuga_dev;User ID=tortuga;Password=tortuga" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <lightSpeedContexts>
    <add new="default" connectionStringName="tortuga" dataProvider="SqlServer2012"/>
  </lightSpeedContexts>

</configuration>